label{
    background-color: white;
}
#save {
    width: 60%;
    height: 60%;

}
#saveanim {
    border: solid black 1px;
    border-radius: 100%;
    width: 35%;
    height: 16%;
    object-fit: cover;
}