doctype html 
html 
    head 
        title Grade Tracker 
        link(rel = "stylesheet" href = "css/login.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
    body
        div(class = "main")
            div(class = "signup")
                h1(class = "register")
                    center Create Account 
                input(type = "text" placeholder = "Enter Email" required) 
                input(type = "text" placeholder = "Enter Password" required)
                input(type = "text" placeholder = "Confirm Password")
                button(type="button" class = "continuebtn") >
                div(class = "sep-line")
            div(class = "login")
                h1(class = "register")
                    center Sign in 
                input(type = "text" placeholder = "Enter Email" required) 
                input(type = "text" placeholder = "Enter Password" required)#logpass
                button(type="button" class = "continuebtn") >

                
