html 
    head
    body(onload=`init(${data})`)
        a(href="/home") <<< Back
        br
        br
        label(for="courseName") Course Name: 
        input(type="text" id="courseName" oninput="updateCourseName()") 
        br
        br
        div#categories
        button(onclick="addNewCategory()") Add Category
        br
        br
        label(for="finalgrade") Final Grade: 
        input#finalgrade(type="text"  value='0' readonly) 

        script(src="/course.js") 

    