html 
    head
        title Course 
        link(rel="stylesheet" href="/course.css")
    body(onload=`init(${data})`)
        a(href="/home") <<< Back
        br
        br
        label(for="courseName") Course Name: 
        input(type="text" id="courseName" oninput="updateCourseName()") 
        br
        br
        div#categories
        button(onclick="addNewCategory()") Add Category
        br
        br
        label(for = "currentAvg") Current Avg:
        input#currentAvg(type="text" value = "0" readonly)
        label(for="finalgrade") Achieved Percentage:
        input#finalgrade(type="text"  value='0' readonly)
        #save
            img#saveanim(src="/save.png")


        script(src="/course.js") 

    