doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="home.css")
        script(src="https://cdn.tailwindcss.com")
        title Grade Tracker
    body(onload=`init(${data})` class="bg-white text-[#7B7A7A]")
        #top(class="flex flex-row justify-left items-center h-[10vw]")
            #accountContainer(class="ml-10 bg-[#F0F0F0] w-[75px] rounded-xl h-[75px] flex items-center justify-center")
                button(onclick="logout()") Logout
            input(type="text" class="ml-[8vw] h-[40%] w-[40%] p-5 border border-2 border-[#2b2b2b] rounded-2xl" placeholder="Search" oninput="changeFilter()" id="searchbar")
            #logo(class="absolute right-[5vw]")
                h1(class="Harabara font-bold text-[45px] text-[#BDD358]") GradeTracker
                hr(class = "border-t-[5px] rounded-md border-[#E5E059] w-[30vw] absolute right-0")
        #bottom(class="flex flex-row pl-10 gap-36")
            #terms(class="flex flex-col h-[60vh] justify-center gap-12")
                #year(class = "bg-[#BDD358] rounded-xl h-[75px] w-[75px] flex object-center items-center justify-center")
                    input(className = "w-full h-full color-black" type = "number" min = "20" max = "25" placeholder = "24")
                #termContainer(class = "bg-[#BDD358] rounded-xl h-[300px] w-[75px] justify-center items-center flex flex-col gap-12 text-left")
                    #term_0
                        <svg id = "term0"onclick="termChange(0)" class="hover:opacity-[70%] cursor-pointer" style="border-color: red;" width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72249 25.243C4.72249 23.2985 5.3909 21.6058 6.7277 20.1648C8.06451 18.7239 9.82666 17.8471 12.0142 17.5346C11.2155 15.486 11.1461 13.5676 11.8058 11.7794C12.4655 9.99121 13.6287 8.59364 15.2954 7.58669C16.9621 6.57974 18.785 6.24987 20.7642 6.59709C22.7433 6.9443 24.3405 8.12485 25.5558 10.1387C26.8058 8.0554 28.4117 6.85748 30.3735 6.54497C32.3353 6.23247 34.1496 6.57968 35.8162 7.58662C37.4829 8.59356 38.6461 9.99112 39.3058 11.7793C39.9655 13.5675 39.8961 15.4859 39.0975 17.5345C41.285 17.847 43.0471 18.7237 44.384 20.1647C45.7208 21.6057 46.3892 23.2984 46.3892 25.2428C46.3892 27.1873 45.7208 28.88 44.384 30.321C43.0471 31.7619 41.285 32.6387 39.0975 32.9512C39.8961 34.9998 39.9655 36.9182 39.3058 38.7064C38.6461 40.4946 37.4829 41.8922 35.8162 42.8991C34.1496 43.9061 32.3353 44.2533 30.3735 43.9408C28.4117 43.6283 26.8058 42.4304 25.5558 40.3471C24.3405 42.361 22.7346 43.5328 20.7381 43.8627C18.7416 44.1926 16.9274 43.8714 15.2954 42.8992C13.6287 41.8922 12.4655 40.4947 11.8058 38.7065C11.1461 36.9183 11.2155 34.9999 12.0142 32.9513C9.82666 32.6388 8.06451 31.7621 6.7277 30.3211C5.3909 28.8801 4.72249 27.1874 4.72249 25.243ZM7.84749 25.243C7.84749 27.0138 8.58534 28.2898 10.061 29.0711C11.5367 29.8523 12.969 29.8263 14.3579 28.9929L17.1183 27.3263C17.0142 26.9443 16.9447 26.5797 16.91 26.2325C16.8753 25.8853 16.8579 25.5554 16.8579 25.2429C16.8579 24.9304 16.8753 24.6006 16.91 24.2533C16.9447 23.9061 17.0142 23.5415 17.1183 23.1596L14.3579 21.4929C12.969 20.6596 11.5367 20.6336 10.061 21.4148C8.58534 22.1961 7.84749 23.4721 7.84749 25.243ZM16.8579 10.295C15.3301 11.1978 14.5142 12.4044 14.41 13.9148C14.3058 15.4252 15.0003 16.7186 16.4933 17.795L18.8371 19.4617C19.0454 19.2533 19.3232 19.0016 19.6704 18.7065C20.0176 18.4113 20.3649 18.1596 20.7121 17.9513C21.0593 17.7429 21.4499 17.5519 21.884 17.3783C22.318 17.2047 22.8128 17.0658 23.3683 16.9617L23.3683 13.7846C23.3683 12.1526 22.6652 10.9374 21.259 10.1388C19.8527 9.34014 18.3857 9.39223 16.8579 10.295ZM16.4933 32.6388C14.9655 33.6804 14.2624 34.9738 14.3839 36.519C14.5055 38.0641 15.3301 39.2881 16.8579 40.1908C18.3857 41.0936 19.8527 41.1457 21.259 40.3471C22.6652 39.5485 23.3683 38.3332 23.3683 36.7012V33.5242C22.8128 33.42 22.318 33.2811 21.884 33.1075C21.4499 32.9339 21.0593 32.7603 20.7121 32.5867C20.3649 32.4131 20.035 32.196 19.7225 31.9356C19.41 31.6752 19.1149 31.3714 18.8371 31.0242L16.4933 32.6388ZM27.7433 16.9616L28.9933 17.3783C29.41 17.5172 29.8093 17.7082 30.1912 17.9512C30.5732 18.1943 30.9465 18.4373 31.311 18.6804C31.6756 18.9234 31.9968 19.1839 32.2746 19.4616L34.5662 17.847C36.094 16.7706 36.8145 15.4512 36.7277 13.8887C36.6409 12.3262 35.8162 11.1283 34.2537 10.295C32.6912 9.35746 31.2155 9.2967 29.8267 10.1127C28.4378 10.9287 27.7433 12.1526 27.7433 13.7846L27.7433 16.9616ZM27.7433 36.7012C27.7433 38.3332 28.4638 39.5398 29.9048 40.321C31.3458 41.1023 32.7954 41.0589 34.2537 40.1908C35.7815 39.288 36.5888 38.0814 36.6756 36.571C36.7624 35.0606 36.0593 33.7498 34.5662 32.6387L32.2746 31.0241C32.0662 31.3019 31.7711 31.5623 31.3892 31.8054C31.0072 32.0484 30.6079 32.2915 30.1912 32.5346C29.7746 32.7776 29.384 32.9773 29.0194 33.1335C28.6548 33.2898 28.2294 33.42 27.7433 33.5241V36.7012ZM33.9933 23.1595C34.0628 23.5415 34.1235 23.9061 34.1756 24.2533C34.2277 24.6005 34.2537 24.9304 34.2537 25.2429C34.2537 25.5554 34.2277 25.8852 34.1756 26.2325C34.1235 26.5797 34.0628 26.9443 33.9933 27.3262L36.7537 28.9929C38.1774 29.8262 39.6183 29.8522 41.0767 29.071C42.535 28.2897 43.2642 27.0137 43.2642 25.2428C43.2642 23.472 42.535 22.196 41.0767 21.4147C39.6183 20.6335 38.1774 20.6595 36.7537 21.4929L33.9933 23.1595ZM19.9829 25.295C19.9829 26.8228 20.5298 28.1335 21.6235 29.2273C22.7173 30.321 24.028 30.8679 25.5558 30.8679C27.0836 30.8679 28.3944 30.321 29.4881 29.2273C30.5819 28.1335 31.1287 26.8227 31.1287 25.295C31.1287 23.7672 30.5819 22.4564 29.4881 21.3627C28.3944 20.2689 27.0836 19.7221 25.5558 19.7221C24.028 19.7221 22.7173 20.269 21.6235 21.3627C20.5298 22.4565 19.9829 23.7672 19.9829 25.295Z" fill="#E5625E"/>
                        </svg>
                    #term_2
                        <svg id = "term1" onclick="termChange(2)" class="hover:opacity-[70%] cursor-pointer" style="border-color: black;" width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.67239 23.6777L14.8286 23.6833L7.07252 15.9186L9.26126 13.6803L19.2557 23.6858L23.9432 23.6884L23.9458 19.0009L14.1596 9.2038L16.2963 6.91331L23.9483 14.5738L23.9539 4.41753L27.0789 4.41925L27.0733 14.5755L34.8901 6.76731L37.1284 9.00812L27.0708 19.0026L27.0682 23.6901L31.8078 23.6927L41.6049 13.9064L43.8953 16.0952L36.2349 23.6951L46.339 23.7007L46.3373 26.8257L36.2332 26.8201L44.0413 34.6369L41.8005 36.8232L31.8061 26.8177L27.0665 26.8151L27.0639 31.5547L36.9021 41.4038L34.7134 43.6422L27.0614 35.9817L27.0558 46.0859L23.9308 46.0842L23.9364 35.98L16.1717 43.6841L13.9333 41.5474L23.9389 31.5529L23.9415 26.8134L19.254 26.8108L9.19636 36.8052L6.95796 34.6686L14.8269 26.8083L4.67065 26.8027L4.67239 23.6777Z" fill="white"/>
                        </svg>
                    #term_1
                        <svg id = "term2" onclick="termChange(1)" class="hover:opacity-[70%] cursor-pointer "style="border-color: black;" width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.5589 23.6543L48.3714 23.6586L48.3697 26.7836L40.5572 26.7793L40.5589 23.6543ZM35.0307 36.9846L37.2194 34.7983L42.7892 40.3222L40.5484 42.5085L35.0307 36.9846ZM23.883 40.3118L27.008 40.3135L27.0037 48.126L23.8787 48.1243L23.883 40.3118ZM2.53808 23.6333L10.3506 23.6377L10.3488 26.7627L2.53634 26.7583L2.53808 23.6333ZM35.0958 13.3909L40.5676 7.92514L42.7539 10.1138L37.23 15.6316L35.0958 13.3909ZM8.15381 40.3552L13.6777 34.7853L15.812 36.9219L10.3922 42.5439L8.15381 40.3552ZM23.9041 2.29095L27.0291 2.29268L27.0247 10.1052L23.8997 10.1035L23.9041 2.29095ZM8.17055 10.1469L10.3593 7.90849L15.825 13.3803L14.7827 14.5255L13.6883 15.6707L8.17055 10.1469ZM12.9539 25.2016C12.9558 21.7294 14.1727 18.7786 16.6046 16.3494C19.0365 13.9202 21.9886 12.7066 25.4608 12.7085C28.933 12.7104 31.8837 13.9273 34.3129 16.3592C36.7422 18.7911 37.9558 21.7431 37.9539 25.2154C37.9519 28.6876 36.735 31.6383 34.3031 34.0675C31.8712 36.4967 28.9192 37.7104 25.4469 37.7085C21.9747 37.7066 19.024 36.4897 16.5948 34.0578C14.1656 31.6259 12.952 28.6738 12.9539 25.2016ZM16.0789 25.2033C16.0774 27.8075 16.9877 30.0215 18.8096 31.8454C20.6315 33.6694 22.8445 34.582 25.4487 34.5835C28.0528 34.5849 30.2669 33.6747 32.0908 31.8528C33.9147 30.0309 34.8274 27.8178 34.8289 25.2136C34.8303 22.6095 33.9201 20.3954 32.0982 18.5715C30.2763 16.7476 28.0632 15.8349 25.4591 15.8335C22.8549 15.832 20.6409 16.7423 18.8169 18.5642C16.993 20.3861 16.0803 22.5991 16.0789 25.2033Z" fill="#FFFF00"/>
                        </svg>
            #addCourse(class="absolute right-20 bottom-20 hover:opacity-70 cursor-pointer")
                <svg onclick="addCourse()" width="108" height="108" viewBox="0 0 108 108" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_63_4)">
                <circle cx="54" cy="50" r="50" fill="white"/>
                </g>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M51.3334 17.3333V47.3333H21.3334V53.9999H51.3334V83.9999H58V53.9999H88V47.3333H58V17.3333H51.3334Z" fill="#BDD358"/>
                <defs>
                <filter id="filter0_d_63_4" x="0" y="0" width="108" height="108" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_63_4"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_63_4" result="shape"/>
                </filter>
                </defs>
                </svg>
            #courses
            #sumContainer(class="absolute right-10 w-[30vw] h-[30vw] flex justify-center items-center")
                #summary(class="border-4 w-[20vw] h-[20vw] rounded-full flex items-center justify-center")
        #footer(class="w-screen h-[10vw] flex flex-row justify-center items-center gap-12")
            h1 Contact
            #circle(class="w-[10px] h-[10px] rounded-full bg-[#878787]")
            h1 About Us 
        script(src="home.js")
