doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Grade Tracker
        link(rel="stylesheet", href="home.css")
    body 
        #top 
             input(type="text" placeholder="Search")
        #bottom 
            #terms
                button Fall 
                button Winter
                button Summer 
            #courses
            
            
            