doctype html 
html 
    head 
        title Grade Tracker 
        link(rel = "stylesheet" href = "login.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
    body
        div(class = "main")
            div(class = "signup")
                h1(class = "register")
                    center Create Account 
                input(type = "email" placeholder = "Enter Email" required)#signemail
                input(type = "text" placeholder = "Enter Username" required)#signusername
                input(type = "password" placeholder = "Enter Password" required)#signpass
                input(type = "password" placeholder = "Confirm Password")#signpassconf
                button(type="button" class = "continuebtn" onclick="signup()" disabled="true")#signup >
                div(class = "sep-line")
            div(class = "login")
                h1(class = "register")
                    center Sign in 
                input(type = "email" placeholder = "Enter Email or Username" required)#logemail
                input(type = "password" placeholder = "Enter Password" required)#logpass
                button(type="button" class = "continuebtn" onclick="login()" disabled="true")#login >

    script(src="signup.js") 
                
